{% extends 'base.html' %}
{% block body %}
<div class="min-h-screen">
    <div class="flex flex-col p-10 items-center gap-auto hidden xl:block  bg-slate-900 lg:mx-auto  xl:flex hidden" >
        <div class="text-xl flex gap-8 text-white  ">
                <a href="" class="hover:text-indigo-500">Devoplopment</a>
                <a href="" class="hover:text-indigo-500">Business</a>
                <a href="" class="hover:text-indigo-500">Finance & Accounting</a>
                <a href="" class="hover:text-indigo-500">IT & Software</a>
                <a href="" class="hover:text-indigo-500">office Productivity</a>
                <a href="" class="hover:text-indigo-500">Personal Devolopment</a>
                <a href="" class="hidden xl:block hover:text-indigo-500">Design</a>
                <a href="" class="hidden 2xl:block hover:text-indigo-500">Marketing</a>
                <a href="" class="hidden 2xl:block hover:text-indigo-500">Health & Fitness</a>
                <a href="" class="hidden 2xl:block hover:text-indigo-500">Music</a>
        </div>
    </div>    
</div>
{% endblock %}