<!-- installed tw elements for curousel-->
{% extends 'base.html' %}
{% block body %}
{% load static %}
<div class="min-h-screen ">
    <div class="xl:block hidden ">
        <div class="bg-slate-900 flex md:flex  p-5 justify-center  pb-11 pt-9 text-xl gap-5  text-white ">
        <a href="" class="hover:text-indigo-400">Devoplopment</a>
        <a href="" class="hover:text-indigo-400">Business</a>
        <a href="" class="hover:text-indigo-400">Finance & Accounting</a>
        <a href="" class="hover:text-indigo-400">IT & Software</a>
        <a href="" class="hover:text-indigo-400">Office Productivity</a>
        <a href="" class="hover:text-indigo-400">Personal Devolopment</a>
        <a href="" class="hidden xl:block hover:text-indigo-400">Design</a>
        <a href="" class="hidden 2xl:block hover:text-indigo-400">Marketing</a>
        <a href="" class="hidden 2xl:block hover:text-indigo-400">Health & Fitness</a>
        <a href="" class="hidden 2xl:block hover:text-indigo-400">Music</a>
    </div>
    </div>
    
    <div class="flex ml-12 mt-7 mr-15">
        <div class="flex flex-col w-full">
            <div class="flex ">
                <div>
                    <img height="60px" width="60px" src="/static/images/user-image.png" alt="" class="mt-2">
                </div>
                <div>
                    <H1 class="text-2xl font-bold ml-5 mb-2  mt-5" >Welcome back, username</H1> 
                </div>       
            </div> 
            <div class="">
                <div class="text-2xl mb-10 mt-10">
                   <H1>Recommended for you</H1> 
                </div>
                <div>
                    {% for item in course %}
                        {item.name}
                    {% endfor %}
                </div>
                <div>
                    <div>

                    </div>
                </div>
            </div>  
            
        </div>
    </div>

</div>
    
{% endblock %}