{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="mb-10 flex-1">
    <div class="ml-12 mt-12 mr-12">
        <div class="">
            <h1 class="text-3xl font-bold">Instructor Dashboard</h1>
            <hr class="mt-2 border-t-4 border-gray-800">
        </div>
        <div>
            {% if not my_course %}
            <div class="  p-5 rounded-xl shadow-xl bg-white mt-5">
                <div class="flex justify-between rounded-xl">
                    <p class="p-1 font-extralight text-3xl">You are not created any course yet create one</p>
                    <a class="shadow-lg bg-blue-500 rounded-xl pr-5 pl-5 pt-3 pb-3" href="{% url 'myapp:create_course' %}">Create Your Course</a>
                </div>
            </div>
            {% else %}
            <p>your courses</p>
            <div class="flex justify-center rounded-xl">
                    <a class="shadow-lg bg-blue-500 rounded-xl pr-5 pl-5 pt-3 pb-3" href="{% url 'myapp:create_course' %}">Create Your Course</a>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}