<div class="relative  flex flex-1 h-10 hidden  lg:block lg:mx-auto  ">
                    <form action="" class="w-full">
                        <input
                            type="text"
                            placeholder="Search for anything..."
                            class="lg:w-full shadow-2xl  mt-1 md:h-9 bg-slate-100 p-9 text-2xl  lg:pl-13 border rounded-full focus:outline-none focus:ring-2 focus:ring-blue-40"/>
                            <button>
                                <svg class="absolute text-xl mt-1 w-8 h-8 left-3 top-1/2 text-gray-400"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor">

                        <path stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M21 21l-4.35-4.35m1.6-5.65
                            a7 7 0 11-14 0
                            7 7 0 0114 0z"/>
                        </svg>
                            </button>
                    </form> 