{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="bg-aqua-400 p-5 shadow-2xl rounded-2xl">
            <div class="flex justify-between  mt-6 mb-6">
                <H1 class="text-2xl font-bold ">All courses</H1>
                <a href="" class="bg-blue items-center text-xs flex px-2 rounded-lg bg-blue-400">Create course</a>
            </div>
            <hr class="mt-2 border border-gray-800">
            <div class="grid grid-cols-2 m gap-6 mt-4 md:grid-cols-3 lg:grid-cols-4">
            {% for item in course %}
            <a href="{% url 'dashboard:view_course' item.id %}">
            <div class="flex mr-6 rounded-2xl gap-2 text-black bg-white shadow-xl flex-col hover:bg-neutral-secondary-medium  p-6 justify-between">
                {% if item.image %}
                <img class="rounded-xl object-fit " src="{{item.image.url}}" alt="">  
                {% else %}
                <div class="rounded-xl object-fit bg-gray-700 h-40 flex items-center justify-center">
                    <span class="text-gray-400 text-sm">No Image</span>
                </div>
                {% endif %}
                    <H1 class="text-md line-clamp-2 min-h-[50px]  font-semibold">{{item.name}}</H1>
                    <H1 class="text-xs  font-bold">{{item.instructor.name}}</H1>
                    <div class="flex">
                        <span class="text-lg flex font-medium text-green-300 text-heading line-through">₹{{ item.discount_amount }}/-</span><span class="ms-3 text-lg text-green-400 font-medium text-heading">₹{{ item.sell_price }}/-</span>
                    </div>
                    

                    <H1 class="font-bold text-lg text-yellow-300">⭐{{item.rating}}</H1>
                    
                    <div class="flex justify-center pt-2 gap-4">
                        <button class="inline-flex items-center text-white font-bold text-sm bg-indigo-400 rounded-xl p-2 ">Premium</button>
                        <button class="bg-blue-300 p-2 font-bold text-sm rounded-xl">bestseller</button>
                    </div>      
            </div>
            </a>  
            {% endfor %}
            </div>
        </div>
{% endblock %}